 <!DOCTYPE html>
 <html>
 <head>
     <meta charset="utf-8" />
     <title>Carousel</title>
     <link rel="stylesheet" href="~/Content/Carousel.css" />
 </head>
 <body>
     <!-- 创建外部展示容器 -->
     <div class="banner-container">
         <!-- 创建图片存储容器 -->
         <div class="banner-img-container">
             <img src="~/Content/Images/con1.png" alt="">
             <img src="~/Content/Images/con2.png" alt="">
             <img src="~/Content/Images/con3.jpeg" alt=""
             <img src="~/Content/Images/con4.png" alt="">
             <img src="~/Content/Images/con5.png" alt="">
             <img src="~/Content/Images/con6.png" alt="">
         </div>
     </div>
 </body>
 </html>