@{
    ViewBag.Title = "About";
}
<script>
    alert("All copyrights belong to mihoyo");
</script>
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>158258 assignment2</p>

</main>