@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:+86 13302283215</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:22009199@massey.ac.nz">Support</a><br />
        <strong>Marketing:</strong> <a href="mailto:22009199@massey.ac.nz">Marketing</a>
    </address>
</main>